.main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-bottom: 4.8vw;
}

.actions {
    position: fixed;
    right: var(--gap);
    left: calc(var(--sidebar-width) + var(--gap));
    bottom: 0;
    max-width: 100%;
    z-index: 10;
}

.beta {
    width: 30%;
}

.indicators {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

.historyChart {
    min-height: 32vw;
}

@media(max-width: 1279px) {
    .indicators {
        gap: 3vw;
    }
}

@media(max-width: 991px) {
    .main {
        padding-bottom: 7.6vw;
    }

    .actions {
        left: var(--gap);
        width: auto;
        right: var(--gap);
    }

    .indicators {
        gap: 5vw;
    }
}

@media(max-width: 767px) {
    .main {
        padding-bottom: 22vw;
    }

    .actions {
        left: 0;
        right: 0;
    }

    .indicators {
        gap: 10vw;
    }
}