.main {
    margin-top: var(--gap);
    padding-bottom: 80px;
}

.main > *:first-child {
    margin-top: 0;
}

.main h2 {
    margin: 30px 0 15px;
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 1.4;
}

.main a {
    color: var(--text);
}

.main p {
    line-height: 1.6;
}

.main b {
    font-weight: 500;
}

.description {
    font-size: 1vw;
    max-width: 900px;
}

.header {
    margin: -30px -30px 0 -30px;
}

.actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    padding-left: calc(var(--sidebar-width) + var(--gap));
    padding-right: var(--gap);
    box-sizing: border-box;
}

.actionsInner {
    background-color: var(--gray-50);
    padding: 20px var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    border-top: 1px solid var(--gray-200);
}

.button {
    flex-grow: 1;
}

@media(max-width: 1279px) {
    .main {
        margin-top: var(--gap);
    }

    .main h2 {
        margin: 20px 0 10px;
        font-size: 24px;
    }
    
    .description {
        font-size: 14px;
    }

    .header {
        margin: -20px -20px 0 -20px;
    }
}

@media(max-width: 991px) {
    .main {
        padding-bottom: 11.5vw;
    }

    .main h2 {
        margin: 2.2vw 0 1.1vw;
        font-size: 3.4vw;
    }

    .description {
        font-size: 1.9vw;
    }

    .main p {
        margin: 1vw 0;
        font-size: 2.1vw;
    }

    .header {
        margin: calc(var(--gap) * -1) calc(var(--gap) * -1) 0;
    }

    .actions {
        padding-left: var(--gap);
        padding-right: var(--gap);
    }
}

@media(max-width: 767px) {
    .main {
        margin-top: 0;
        padding-bottom: 28vw;
    }

    .main h2 {
        margin: 5vw 0 3.5vw;
        font-size: 5.9vw;
    }

    .main p {
        margin: 2vw 0;
        font-size: 5vw;
    }

    .description {
        margin: 2vw 0;
        font-size: 5vw;
    }

    .header {
        margin: 0;
    }

    .actions {
        padding: 0;
    }

    .actionsInner {
        padding: 5vw var(--gap);
    }
}