.header {
    background-image: var(--ticker-header-bg);
    padding: 30px;
}

.header h1 {
    margin: 0;
    font-size: 2.6vw;
    line-height: 2.6vw;
}

.logo {
    width: 6vw;
    height: 6vw;
    flex-shrink: 0;
    overflow: hidden;
}

.top {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.price {
    font-size: 2vw;
    line-height: 1;
}

.industry {
    font-size: 1.4vw;
}

@media(max-width: 1279px) {
    .header {
        padding: 20px;
    }

    .header h1 {
        font-size: 26px;
        line-height: 28px;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    .price {
        font-size: 22px;
    }

    .industry {
        font-size: 16px;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2.7vw 2.1vw;
    }

    .header h1 {
        margin: 0;
        font-size: 3.3vw;
        line-height: 3.6vw;
    }

    .logo {
        width: 8.8vw;
        height: 8.8vw;
    }

    .bottom {
        margin-top: 1vw;
    }

    .price {
        font-size: 2.9vw;
    }

    .industry {
        font-size: 2.1vw;
    }
}

@media(max-width: 767px) {
    .header {
        padding: 5vw;
    }

    .header h1 {
        margin: 0;
        font-size: 6vw;
        line-height: 1.2;
    }

    .logo {
        width: 15vw;
        height: 15vw;
    }

    .bottom {
        margin-top: 3vw;
        gap: 5vw;
    }

    .price {
        font-size: 5.7vw;
    }

    .industry {
        font-size: 4.6vw;
    }
}