.card {
    display: flex;
    gap: 10px;
    padding: 0.7vw 0;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 30%;
}

.price,
.value,
.type,
.total {
    display: flex;
    flex-shrink: 0;
    font-size: 1.1vw;
    line-height: 1.1;
    align-items: center;
}

.dateTime {
    display: flex;
    flex-direction: column;
    width: 115px;
    flex-shrink: 0;
}

.date {
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    line-height: 1.1;
    flex-shrink: 0;
}

.time {
    font-size: 1vw;
    line-height: 1.2;
    color: var(--gray-700);
}

.price {
    width: 6vw;
}

.type {
    width: 8vw;
    align-self: center;
}

.value {
    width: 3vw;
}

.total {
    width: 6.4vw;
    justify-content: flex-end;
    text-align: right;
    font-weight: 500;
}

.plus .total {
    color: var(--verdepom);
}

.minus .total {
    color: var(--alizarin-red);
}

@media(max-width: 1279px) {
    .price,
    .value,
    .type,
    .date,
    .total {
        font-size: 1.3vw;
    }

    .time {
        font-size: 1.1vw;
    }

    .type {
        width: 9.4vw;
    }

    .badge {
        width: 100%;
    }

    .total {
        width: 8vw;
    }
}

@media(max-width: 991px) {
    .price,
    .value,
    .type,
    .date,
    .total {
        font-size: 1.6vw;
    }

    .info {
        width: 25%;
    }

    .time {
        font-size: 1.4vw;
    }

    .type {
        width: 12vw;
    }

    .total {
        width: 11.6vw;
    }

    .price {
        width: 8vw;
    }

    .value {
        width: 4.6vw;
    }
}