.counter {
    display: flex;
    gap: 0.4vw;
}

.button {
    flex-shrink: 0;
}

.field {
    overflow: hidden;
}

@media(max-width: 1279px) {
    .counter {
        gap: 0.5vw;
    }
}

@media(max-width: 991px) {
    .counter {
        gap: 0.7vw;
    }
}

@media(max-width: 767px) {
    .counter {
        gap: 2vw;
    }
}