.form {
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
    opacity: 1;
    transition: opacity var(--ease) var(--timing-md);
}

.loading {
    opacity: 0.4;
    pointer-events: none;
}

.text {
    margin: 0;
    font-size: 0.9vw;
}

.text span {
    font-size: 1.1vw;
    font-weight: 600;
}

.textSecondary {
    margin: 0;
    font-size: 0.9vw;
    color: var(--color-text-secondary);
}

.grid {
    display: grid;
    grid-template-columns: 3vw 1fr;
    align-items: baseline;
}

@media(max-width: 1279px) {
    .form {
        gap: 2vw;
    }

    .text {
        font-size: 1.22vw;
    }

    .text span {
        font-size: 1.8vw;
    }

    .textSecondary {
        font-size: 1.22vw;
    }

    .grid {
        grid-template-columns: 4.2vw 1fr;
    }
}

@media(max-width: 991px) {
    .form {
        gap: 3vw;
    }

    .text {
        font-size: 2vw;
    }

    .text span {
        font-size: 2.6vw;
    }

    .textSecondary {
        font-size: 2vw;
    }

    .grid {
        grid-template-columns: 7vw 1fr;
    }
}

@media(max-width: 767px) {
    .form {
        gap: 5vw;
    }

    .text {
        font-size: 5vw;
    }

    .text span {
        font-size: 6.8vw;
    }

    .textSecondary {
        font-size: 5vw;
    }

    .grid {
        grid-template-columns: 17vw 1fr;
    }
}