.inner {
    display: flex;
    flex-grow: 1;
    gap: 30px;
    position: relative;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media(max-width: 1279px) {
    .inner {
        gap: 20px;
    }

    .main {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media(max-width: 991px) {
    .inner {
        padding: 0 2.1vw;
        width: 100%;
        box-sizing: border-box;
    }

    .main {
       padding: 2.1vw 0;
    }
}

@media(max-width: 767px) {
    .inner {
        padding: 0;
        width: 100%;
    }

    .main {
        padding: 0;
    }
}