.inner {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.main {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media(max-width: 1279px) {
    .inner {
        gap: 20px;
    }

    .main {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}