:root {
    --bg-main: var(--gray-50);
    --bg-secondary: var(--gray-100);
    --bg-accent: var(--color-primary-400);

    --color-text: var(--gray-800);
    --color-text-secondary: var(--gray-500);
    --border-color: var(--gray-200);

    --link-color: var(--color-primary-500);
    --link-color-hover: var(--color-primary-700);

    --sidebar-link-color: var(--gray-800);
    --sidebar-link-color-hover: var(--link-color-hover);

    --button-bg-primary: var(--color-primary-600);
    --button-bg-primary-hover: var(--color-primary-800);
    --button-bg-secondary: var(--gray-200);
    --button-bg-secondary-hover: var(--gray-300);
    --button-color-primary: var(--gray-50);
    --button-color-secondary: var(--color-text);

    --sidebar-shadow: 0 100px 80px rgba(174, 174, 190, 0.07),
    0 42px 33px rgba(174, 174, 190, 0.05),
    0 22px 18px rgba(174, 174, 190, 0.04),
    0 12px 10px rgba(174, 174, 190, 0.04),
    0 7px 5px rgba(174, 174, 190, 0.03),
    0 3px 2px rgba(174, 174, 190, 0.02);
    --header-shadow: 0 100px 80px rgba(182, 187, 245, 0.07),
    0 42px 33px rgba(182, 187, 245, 0.05),
    0 22px 18px rgba(182, 187, 245, 0.04),
    0 13px 10px rgba(182, 187, 245, 0.04),
    0 7px 5px rgba(182, 187, 245, 0.03),
    0 3px 2px rgba(182, 187, 245, 0.02);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --bg-main: var(--gray-1100);
        --bg-secondary: var(--gray-900);
        --bg-accent: var(--color-primary-900);

        --color-text: var(--gray-300);
        --color-text-secondary: var(--gray-400);
        --border-color: var(--gray-800);
        --link-color: var(--color-primary-400);
        --link-color-hover: var(--color-primary-600);

        --sidebar-link-color: var(--color-text);
        --sidebar-link-color-hover: var(--link-color-hover);

        --button-bg-primary: var(--color-primary-700);
        --button-bg-primary-hover: var(--color-primary-600);
        --button-bg-secondary: var(--gray-800);
        --button-bg-secondary-hover: var(--gray-700);
        --button-color-primary: var(--gray-100);
        --button-color-secondary: var(--gray-100);

        --sidebar-shadow: none;
        --header-shadow: none;
    }
}

[data-theme='light'] {
    --bg-main: var(--gray-50);
    --bg-secondary: var(--gray-100);
    --bg-accent: var(--color-primary-400);

    --color-text: var(--gray-800);
    --color-text-secondary: var(--gray-500);
    --border-color: var(--gray-200);

    --link-color: var(--color-primary-500);
    --link-color-hover: var(--color-primary-700);

    --sidebar-link-color: var(--gray-800);
    --sidebar-link-color-hover: var(--link-color-hover);

    --button-bg-primary: var(--color-primary-600);
    --button-bg-primary-hover: var(--color-primary-800);
    --button-bg-secondary: var(--gray-200);
    --button-bg-secondary-hover: var(--gray-300);
    --button-color-primary: var(--gray-50);
    --button-color-secondary: var(--color-text);

    --sidebar-shadow: 0 100px 80px rgba(174, 174, 190, 0.07),
    0 42px 33px rgba(174, 174, 190, 0.05),
    0 22px 18px rgba(174, 174, 190, 0.04),
    0 12px 10px rgba(174, 174, 190, 0.04),
    0 7px 5px rgba(174, 174, 190, 0.03),
    0 3px 2px rgba(174, 174, 190, 0.02);
    --header-shadow: 0 100px 80px rgba(182, 187, 245, 0.07),
    0 42px 33px rgba(182, 187, 245, 0.05),
    0 22px 18px rgba(182, 187, 245, 0.04),
    0 13px 10px rgba(182, 187, 245, 0.04),
    0 7px 5px rgba(182, 187, 245, 0.03),
    0 3px 2px rgba(182, 187, 245, 0.02);
}

[data-theme='dark'] {
    --bg-main: var(--gray-1100);
    --bg-secondary: var(--gray-900);
    --bg-accent: var(--color-primary-900);

    --color-text: var(--gray-300);
    --color-text-secondary: var(--gray-400);
    --border-color: var(--gray-800);
    --link-color: var(--color-primary-400);
    --link-color-hover: var(--color-primary-600);

    --sidebar-link-color: var(--color-text);
    --sidebar-link-color-hover: var(--link-color-hover);

    --button-bg-primary: var(--color-primary-700);
    --button-bg-primary-hover: var(--color-primary-600);
    --button-bg-secondary: var(--gray-800);
    --button-bg-secondary-hover: var(--gray-700);
    --button-color-primary: var(--gray-100);
    --button-color-secondary: var(--gray-100);

    --sidebar-shadow: none;
    --header-shadow: none;
}