:root {
    --ff-primary: 'Inter';

    --h1: 700 40px/1.5 var(--ff-primary);
    --h2: 800 32px/1.4 var(--ff-primary);
    --h3: 700 28px/1.4 var(--ff-primary);
    --h4: 600 28px/1.4 var(--ff-primary);
    --h5: 700 24px/1.4 var(--ff-primary);
    --h6: 600 20px/1 var(--ff-primary);

    /* animation */
    --ease: ease-out;
    --timing-md: 0.3s;
    --timing-sm: 0.15s;

    --gap: 1.56vw;

    --sidebar-width: 15vw;

    --portfolio-grid-template: 1fr 3.4vw 8.2vw 8.2vw 7.4vw 6vw 8.7vw;

    @media(max-width: 1279px) {
        --sidebar-width: 20.5vw;
        --gap: 1.56vw;
    }

    @media(max-width: 991px) {
        --sidebar-width: 39vw;
        --gap: 2vw;
        --portfolio-grid-template: 1fr 4vw 10.2vw 10.2vw 9vw 7.6vw 11.7vw;
    }

    @media(max-width: 767px) {
        --sidebar-width: 100%;
        --gap: 5vw;
    }
}