.field {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
}

.label {
    color: var(--color-text-secondary);
    font-size: 0.8vw;
    cursor: pointer;
}

.input {
    border-radius: 0.4vw;
    border: 1px solid var(--field-border-color);
    height: 2.6vw;
    padding: 0 1vw;
    font-size: 1vw;
    color: var(--color-text);
    background-color: var(--field-bg-color);
}

.centred .input {
    text-align: center;
}

.input::placeholder {
    color: var(--field-color-secondary);
}

.input:disabled {
    background-color: var(--field-bg-color-disabled);
    color: var(--field-color-disabled);
    cursor: default;
}

.input:disabled::placeholder {
    color: var(--field-color-disabled);
}

.input:focus-visible {
    outline: 4px solid var(--field-border-color-outline);
    border-color: var(--field-border-color-focus);
}

.error .input {
    color: var(--color-error);
    border-color: var(--color-error);
}

.errorText {
    font-size: 0.8vw;
    color: var(--color-error);
}

@media(max-width: 1279px) {
    .field {
        gap: 0.2vw;
    }

    .label {
        font-size: 1vw;
    }

    .input {
        border-radius: 0.5vw;
        height: 3.1vw;
        font-size: 1.4vw;
    }

    .errorText {
        font-size: 1vw;
    }
}

@media(max-width: 991px) {
    .field {
        gap: 0.4vw;
    }

    .label {
        font-size: 1.6vw;
    }

    .input {
        border-radius: 0.6vw;
        height: 5.2vw;
        font-size: 2.2vw;
        padding: 0 1.6vw;
    }

    .errorText {
        font-size: 1.6vw;
    }
}

@media(max-width: 767px) {
    .field {
        gap: 0.8vw;
    }

    .label {
        font-size: 4.2vw;
    }

    .input {
        border-radius: 1.6vw;
        height: 12.8vw;
        font-size: 5.8vw;
        padding: 0 4vw;
    }

    .errorText {
        font-size: 4.2vw;
    }
}
