.user {
    display: flex;
    align-items: center;
    gap: 0.6vw;
    color: var(--text);
    font-weight: 600;
    font-size: 1vw;
    line-height: 1vw;
    letter-spacing: -0.1px;
}

.photo {
    display: block;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 50%;
    width: 2.4vw;
    height: 2.4vw;
}

@media(max-width: 1279px) {
    .user {
        gap: 8px;
        font-size: 14px;
        line-height: 14px;
    }

    .photo {
        width: 32px;
        height: 32px;
    }
}