.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inner {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 1.1vw;
    line-height: 1.2;
    background-color: var(--gray-100);
    padding: 0.7vw 0;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 0.4vw;
    justify-content: space-between;
}

.header > :first-child {
    padding-left: 10px;
}

.header > :last-child {
    padding-right: 10px;
}

.hAverage,
.hCurrent,
.hShares,
.hGane,
.hGaneP,
.hTotal {
    justify-content: flex-end;
    text-align: right;
}

.hName {
    width: 30%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.hShares,
.hGaneP {
    width: 4vw;
    flex-shrink: 0;
}

.hGane {
    width: 6vw;
}

.hAverage,
.hCurrent {
    width: 6vw;
    flex-shrink: 0;
}

.hTotal {
    width: 6vw;
    box-sizing: border-box;
    padding-right: 10px;
}

@media(max-width: 1279px) {
    .header {
        font-size: 12px;
        border-radius: 5px;
        padding: 8px 0;
    }

    .hShares,
    .hGaneP {
        width: 45px;
        flex-shrink: 0;
    }

    .hGane {
        width: 65px;
        flex-shrink: 0;
    }

    .hAverage,
    .hCurrent {
        width: 60px;
    }

    .hTotal {
        width: 70px;
        flex-shrink: 0;
    }
}

@media(max-width: 767px) {
    .list {
        margin: -1.4vw -5vw;
    }
}