.card {
    display: flex;
    gap: 10px;
    padding: 0.7vw 0;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    left: -10%;
    right: -10%;
    top: 0;
    width: 120%;
    height: 100%;
    background-color: var(--gray-200);
    opacity: 0;
    transition: opacity var(--ease) var(--timing);
}

.card:hover::before {
    opacity: 1;
}

.info {
    width: 30%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.shares,
.averagePrice,
.currentPrice,
.gain,
.gainP,
.total {
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    line-height: 1.1;
    flex-shrink: 0;
    text-align: right;
    justify-content: flex-end;
    position: relative;
}

.shares,
.gainP {
    width: 4vw;
}

.gain {
    width: 6vw;
}

.averagePrice,
.currentPrice {
    width: 6vw;
}

.total {
    width: 6vw;
}

.plus {
    color: var(--verdepom);
}

.minus {
    color: var(--alizarin-red);
}

@media(max-width: 1279px) {
    .shares,
    .averagePrice,
    .currentPrice,
    .gain,
    .gainP,
    .total {
        font-size: 13px;
    }

    .shares,
    .gainP {
        width: 45px;
    }

    .gain {
        width: 65px;
    }

    .averagePrice,
    .currentPrice {
        width: 60px;
    }

    .total {
        width: 70px;
    }
}