.button {
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: background-color var(--ease) var(--timing);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.35;
}

.primary {
    background-color: var(--btn-bg-primary);
    border: none;
    color: var(--btn-color-primary);
}

.primary:hover {
    background-color: var(--btn-bg-hover-primary);
    text-decoration: none;
}

.secondary {
    border: none;
    background-color: var(--btn-bg-secondary);
    color: var(--btn-color-secondary);   
}

.secondary:hover {
    background-color: var(--btn-bg-hover-secondary);
}

.secondary:disabled {
    background-color: var(--btn-bg-disabled-secondary);
    color: var(--btn-color-disabled-secondary);
}

.tetriary {
    background-color: var(--btn-bg-tetriary);
    border: 1px solid var(--btn-border-color-tetriary);
    color: var(--btn-color-tetriary);
    transition: border-color var(--ease) var(--timing);;
}

.tetriary:hover {
    border: 1px solid var(--btn-border-color-hover-tetriary);
    color: var(--btn-color-tetriary);
}

.tetriary:disabled {
    border: 1px solid var(--btn-border-color-disabled-tetriary);
    color: var(--btn-color-disabled-tetriary);
}

.large {
    padding: 16px 24px;
    font-size: 16px;
}

.medium {
    padding: 10px 20px;
    font-size: 16px;
}

.small {
    padding: 6px 18px;
    font-size: 14px;
    font-weight: 500;
}