.cloud {
    padding: var(--gap);
    border-radius: 20px;
    background-color: var(--gray-50);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 10px;
    font: var(--h5);
}

@media(max-width: 1279px) {
    .cloud {
        padding: var(--gap);
        border-radius: 16px;
    }
}

@media(max-width: 767px) {
    .cloud {
        padding: var(--gap);
        border-radius: 3vw;
    }
}