.info {
    display: flex;
    gap: 0.7vw;
    width: 100%;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    position: relative;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
}

.name {
    font-size: 1vw;
    line-height: 1.2;
    color: var(--gray-700);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.code {
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 1.05;
    color: var(--text);
}

.cap {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--gray-200);
}

@media(max-width: 1279px) {
    .info {
        gap: 8px;
    }

    .code {
        font-size: 16px;
    }

    .name {
        font-size: 12px;
    }

    .logo {
        width: 38px;
        height: 38px;
    }
}