.header {
    display: grid;
    grid-template-columns: var(--portfolio-grid-template);
    align-items: center;
    gap: 2vw;
    overflow: hidden;
    font-size: 1vw;
    color: var(--color-text-secondary);
    padding: 0 var(--gap) var(--gap);
    background-color: var(--bg-main);
    border-bottom: 1px solid var(--border-color);
}

.total {
    text-align: right;
}

@media(max-width: 991px) {
    .header {
        font-size: 1.5vw;
    }
}